<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>{{title}}</title>
    </head>
    <body>
        <div id="header">
            <h1> {{ title }} </h1>
        </div>
        <div id="container">
            <h2>User: {{ user }}</h2>
            {{ #children }}
                <p>{{ title }} : {{ body }}</p>
            {{ /children }}
        </div>
    </body>
</html>