<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>{{title}}</title>
    </head>
    <body>
        <div id="header">
            <h1> {{ title }} </h1>
            <p> {{ description }} </p>
        </div>
        <div id="container">
            <h2>Current user: {{ user }}</h2>
            <h2>Current conversations:</h2>
            {{ #children }}
                <p>REPLY: {{ body }}</p>
            {{ /children }}
        </div>
        <div id="footer">
            {{> login }}
            {{> submit }}
        </div>
    </body>
</html>